ipydatetime==1.2.0
ipywidgets==7.6.5
import-java
matplotlib==3.4.3
numpy==1.20.3
orekit==11.0.2
org_e == 0.5
session_info==1.0.0
IPython==7.32.0
jupyter_client==6.1.12
jupyter_core==4.8.1
jupyterlab==3.2.1
notebook==6.4.5
spyder==5.1.5